<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>539524158561-h64dtadkqpr491g58ekqrbvng64q1735.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539524158561-h64dtadkqpr491g58ekqrbvng64q1735</string>
	<key>API_KEY</key>
	<string>AIzaSyD4lgOH2_tL_NktHydQxxGKZk49s2gfX9k</string>
	<key>GCM_SENDER_ID</key>
	<string>539524158561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.winkel.lepassetrappe</string>
	<key>PROJECT_ID</key>
	<string>lepassetrappe</string>
	<key>STORAGE_BUCKET</key>
	<string>lepassetrappe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:539524158561:ios:9687eac5fb62b46e</string>
	<key>DATABASE_URL</key>
	<string>https://lepassetrappe.firebaseio.com</string>
</dict>
</plist>
